{% extends 'base.html.twig' %}

{% block main %}
        <div class="row post-comment">
            <h4 class="col-sm-3">
                {{ question.id }}
                {{ question.number}}
            </h4>
        </div>
{% endblock %}