{% extends 'base.html.twig' %}

{% block main %}
    <form id="formId">
        <div class="row">
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col-sm-2">
                <input id="submitButton" type="submit" class="btn btn-primary" value="Відповісти"/>
            </div>
        </div>
    </form>
    <script>
        $("form").on("submit", function (e) {
            var dataString = $(this).serialize();

            $.ajax({
                type: "POST",
                url: "/en/check-answer",
                data: dataString,
                success: function () {
                    console.log('success');
                }
            });
            e.preventDefault();
        });
    </script>
{% endblock %}